/* Fonts */
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Bellota', cursive;

/* Colors*/
$primary-color: #1ba5cd;
$secondary-color: #473452;

$button-color: #30383b;

$primary-text-color: #888888;
$secondary-text-color: #555555;

/* Container */
$s-container: 100%;
$l-container: 960px;
$xl-container: 1140px;

/* mobile-breakpoints */
$xs: 480px; 
$s: 576px;
$m: 768px;
$l: 992px;
$xl: 1200px;





