.about-section {

    text-align: center;
    

    .about-logo{

        max-width: 100px;

    }

    .about-header-initial-text{
        text-transform: uppercase;
        color: $secondary-color;
        letter-spacing: 2px;
    }


    .about-header-content{
        max-width: 75%;
        font-weight: 300;
        margin: 0 auto;
        margin-top: 60px;
        margin-bottom: 30px;
        /* text-align: center; */
    }






}

